/* ALL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial;
    scroll-padding-top: 55px;
    text-decoration: none;
}

/* BODY */
body {
    text-align: center;
    padding-top: 75px; 
}

/* NAVBAR */
.navbar {
    padding-right: 10px;
    padding-left: 10px;
}

/* ANIMATED TEXT */
.typewrite {
    color: rgb(169,169,169)
}

.typewrite:hover {
    color: rgb(169,169,169)
}

/* ABOUT ME */
#about-me-title {
    text-decoration: underline;
}

/* PROJECTS */
#project-title {
    text-decoration: underline;
}

.project-box {
    display: inline-block;
}

.project img {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px black solid;
    float: left;
    object-fit: cover;
    position: relative;
    transition: all .2s ease-in-out;
}

.project img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 990px) {
    .project img {
        width: 400px;
        height: 200px;
    }
}

@media screen and (max-width: 650px) {
    .project img {
        width: 200px;
        height: 200px;
    }
}

/* SKILLS */
.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

#skills-title {
    text-decoration: underline;
}

.skill-box {
    padding: 1rem;
    cursor: pointer;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before {
    width: 35px;
}

.skill-box:hover .img {
    transform: translateY(-10px);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color:#2ecc81;
    transition: .5s;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color:#2ecc81;
    transition: .5s;
}

.img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5;
}

.img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;
}

.skill-icon {
    width: 50px;
    z-index: 2;
}

.skill-title h3 {
    margin-top: 0.5rem;
}

@media screen and (max-width: 990px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 650px) {
    .skills {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

/* GET IN TOUCH */
#get-in-touch-title {
    text-decoration: underline;
}

/* LIGHT MODE/DARK MODE */
html {
    background-color: rgb(245,245,245);
    color: rgb(34,34,34);
    transition: background-color 1s;
}

html.dark {
    background-color: rgb(34,34,34);
    color: rgb(245,245,245);
    transition: background-color 1s;
}

body {
    background: var(--bck-color);
    color: var(--ft-color);
}

.darkmode {
    cursor: pointer;
    border: 4px solid;
    border-radius: 10px;
    padding: 4px;
    color: rgb(245,245,245, 0.5);
}

.darkmode:hover {
    color: rgb(245,245,245);
}